<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Portfólio Laura</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/disciplinas">Disciplinas</a></li>
          <li><a href="/projetos">Projetos</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
