<%- include('../partials/header') %>

<main>
  <section>
    <h2 class="section-title">Contato</h2>
    <div class="contato-grid">
      <a href="mailto:lauriinha686@gmail.com" class="contato-card">
        <img src="/images/email.webp" alt="Email">
        <span>E-mail</span>
      </a>
      <a href="https://www.linkedin.com/in/laura-f-382985351" target="_blank" class="contato-card">
        <img src="/images/linkedin.png" alt="LinkedIn">
        <span>LinkedIn</span>
      </a>
      <a href="https://github.com/lauraflx" target="_blank" class="contato-card">
        <img src="/images/GitHub_Invertocat_Logo.svg.png" alt="GitHub">
        <span>GitHub</span>
      </a>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
