<%- include('../partials/header') %>

<main>
  <section>
    <h2 class="section-title">Sobre Mim</h2>
    <div class="grid">
      <div class="card">
        <h3>Nome</h3>
        <p>Laura Félix de Paula</p>
      </div>
      <div class="card">
        <h3>Curso</h3>
        <p>Desenvolvimento de Software Multiplataforma</p>
      </div>
      <div class="card">
        <h3>Instituição</h3>
        <p>FATEC São José dos Campos</p>
      </div>
      <div class="card">
        <h3>Ano</h3>
        <p>2025</p>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
